{% extends 'core/base.html' %}
{% load static %}

{% block title %}Rankings{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'rankings.css' %}">
    </head>
    <table>
        <tr>
            <th>Global Rank</th>
            <th>User Name</th>
            <th>Ranking Points</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'profile' user_id=user.user_id %}">{{ user.email }}</a></td>
            <td>{{ user.rank }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}